.image-windows{

    height: 180px;
    /*background-image: url("https://img.alicdn.com/imgextra/i4/1974227597/O1CN01UTPALZ25zTW9wjhsT_!!1974227597.png");*/
    background-position: center -20px;

}

.image-windows .image-copyright .copyright-text{
    font-size: smaller;
    transform: scale(0.6);
    /*transform-origin: right;*/
    
}

/**
公告栏
*/
.speedbar{
    background-color: var(--secondary-bg-color);
}

/**
全站通告栏 链接的默认颜色
 */
 .speedbar a {
    color: var(--main-color);
}


