.image-windows{

    height: 150px;
    background-position: center -30px;
    background-size: 2560px auto;

}

.image-windows .copyright-text{
    font-size: smaller;
    transform: scale(0.6);
    /*transform-origin: right;*/
    
}

/**
公告栏
*/
.speedbar{
    /*background-color: var(--secondary-bg-color);*/
}

/**
全站通告栏 链接的默认颜色
 */
 .speedbar a {
    color: var(--main-color);
}


