/*
文章页的CSS
*/



/**
内容页自定义弹出框大小
 */
body.single .popover {

    max-width: 400px;
    margin-left: .5rem;
    margin-right: .5rem;
}

/**
内容页自定义弹出框的图片效果
 */
body.single .popover .emoji_container img.emoji {
    transition: .3s;
}

body.single .popover .emoji_container img.emoji:hover {
    background: #cccccc;
}

/**
自定义评论列表 表情图片 的高度
 */
body.single .comments-part img.wp-smiley {
    height: auto !important;
    max-height: none !important;
}

/*内容页 h标签下边距*/
body.single div.content .article-content h1,
body.single div.content .article-content h2,
body.single div.content .article-content h3,
body.single div.content .article-content h4,
body.single div.content .article-content h5,
body.single div.content .article-content h6 {
    margin-bottom: 1rem;
}

/*内容页 P标签行高*/
body.single div.content .article-content p {
    line-height: 2;
}

/**
内容页 限制图片的最大宽度
*/
body.single div.content .article-content img {
    max-width: 100%;
}



/*文章页 描述里A链接增加下划线和颜色*/
.article-content .content-part a {
    color: #17a2b8;
    text-decoration: underline;
}

/*文章页 作者信息*/
.article-header .post-author-data {
    background-color: var(--color-light-1);

}

/*文章页 工具栏颜色*/
.article-content .functional-part {
    background-color: var(--color-light-1);
}





/**
子评论显示
 */


 .comment-list .children img.avatar {
    /* display: none; */
}

@media (min-width: 576px) {

    .comment-list .children img.avatar {
        /* display: block; */
    }
}

.comment-list .children .user-meta span.badge {
    display: none;
}

/*md*/
@media (min-width: 768px) {
    .comment-list .children .user-meta span.badge {
        display: inline-block;
    }
}


