/**
登陆页面专用CSS
 */

body {
    background-image: url('https://cdn.mikuclub.fun/login_background_4k.webp');
    background-size: cover;

}


#login {
    width: 100%;
    min-width: 360px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.79);
    box-sizing: border-box;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .25rem;
}

.login form {

    border: none;
    border-radius: .25rem;
    margin: 0;
}

#login #wp-submit, .login #nav a, .login #backtoblog a {

    width: 100%;
    margin-top: 1rem;
    background: var(--color-miku);
    font-size: larger;
    transition: .5s;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: white;
    border-radius: .25rem;
    line-height: normal;
    padding: .5rem .25rem;

}

#login #wp-submit:hover {
    color: #fff;
    background-color: var(--color-miku-dark);
    border-color: var(--color-miku-dark);
}

.login #nav a, .login #backtoblog a {
    display: block;
    text-align: center;
}

.login #nav a{
    background: #6c757d;
}

.login #nav a:hover{
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.login #backtoblog a{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.login #backtoblog a:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.login #backtoblog a:focus, .login #nav a:focus, .login h1 a:focus {
    color: #fff;
}



#login #rememberme {
    margin: .5rem 0;
}


.login #login_error {
    border-left: 5px solid #dd3d36;
    background: #fff;
    box-shadow: none;
    border-radius: .25rem;
}

.login form .forgetmenot {
    margin-top: .5rem;
}

.login form .forgetmenot label {
    font-size: 1rem;
    vertical-align: middle;
    font-weight: bold;
}

.login h1 {
    display: none;
}

.login label {
    font-size: medium;
    margin-bottom: .25rem;
}


.login #nav, .login #backtoblog {
    margin: 0;
    background: white;
    padding: .5rem 24px;
}


.login #embed-captcha {
    margin: 1rem 0 !important;
}

.login .geetest_holder.geetest_wind .geetest_radar_btn {
    border-radius: .25rem;
}

.login .os-login-info {
    font-size: 14px;
    border: #16a085 1px solid;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
}

.login form .input, .login form input[type=checkbox], .login input[type=text] {
    background: #fbfbfb
}

.login input[type=text]:focus, .login input[type=password]:focus {
    border-color: var(--color-miku-dark);
    box-shadow: 0 0 0 1px var(--color-miku-dark);
}